* {
    padding: 0;
    margin: 0;
}


label {
    color: yellow;
    text-align: end;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 17px;
    text-transform: uppercase;
}


.top-bar {
    background-color: black;
    border-bottom: 2px solid yellow;
}

.body {
    padding: 0;
    margin: 0;
    background: black;
}



.card-body {
    border-radius: 15px;
    padding: 0;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    border: none;
    background-color: yellow;
}

.btn {
    border-color: yellow !important;;
    border-radius: 10px !important;
    color: yellow !important;
    background: black !important;
    margin-top: 40px;
    font-size: 18px !important;
}

.btn:hover {
    color: black !important;
    background: yellow !important;
    border: 3px 3px solid black;
}


.row {
    display: flex;
    justify-content: center;
}

.card-header button {
    color: yellow !important;
    width: 100%;
    text-align: left;
}

.card-header button:hover {
    color: yellow !important;

    text-decoration: none;
}

.card-body {
    font-size: 18px;
}

.small {
    color: white;
}

.figure-caption {
    margin-top: 15px;
    padding: 0;
    text-transform: uppercase;
}

.resultado {
    margin-top: 20px;
}

.resposta {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: yellow;
}

.footer {
    color: white;
    background-color: black;
    border-top: 3px solid yellow;
}

.faq-item {
    margin-bottom: 40px;
    margin-top: 40px;
}

.faq-body {

    display: none;
    margin-top: 30px;
}

.faq-wrapper {
    width: 100%;
    margin: 0 auto;
}

.faq-inner {
    padding: 30px;
    background: black;
}

.faq-plus {
    float: right;
    font-size: 1.4em;
    line-height: 1em;
    cursor: pointer;
}

#faq-card {
    color: yellow;
    border: none;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 auto;
}

#container-faq {
    background: black;
}

.navbar-nav .nav-link:hover {
    color: yellow !important;
}

#litros-label {
    display: none;
    margin-left: 10px;
    font-weight: bold;
}


#container-home {
    border-right: 3px solid yellow;
    border-left: 3px solid yellow;
    background: linear-gradient(to top right, #800000, #FF0000);
    padding-bottom: 110px;
}

.navbar-nav .nav-link:hover {
    color: yellow !important;
}

form {
    border: none;
    padding: 20px;
    background: black;
    border-radius: 15px;
}

.form-group {
    border: none;
    margin-bottom: 20px;
}

